.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

VSCE_PAT.txt
CONTRIBUTING.md
compile.js
config.json
bin/
node_modules/
