.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

bin/
build/
icons/
node_modules/
icons/

.gitignore
pnpm-lock.yaml
tsconfig.json
